[Unit]
Description=Grakn Engine
After=network.target

[Service]
ExecStart={{cluster_home}}grakn-engine/bin/grakn-engine.sh start
ExecStop={{cluster_home}}grakn-engine/bin/grakn-engine.sh stop
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=forking

[Install]
WantedBy=multi-user.target
Alias=grakn-engine.service
