[Unit]
Description=Grakn
After=network.target

[Service]
ExecStart={{cluster_home}}grakn/grakn server start
ExecStop={{cluster_home}}grakn/grakn server stop
WorkingDirectory={{cluster_home}}grakn/
ExecReload=/bin/kill -HUP $MAINPID
User=grakn
Group=grakn
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=forking
TimeoutSec=120

[Install]
WantedBy=multi-user.target
Alias=grakn.service
