[Unit]
Description=Grakn
After=network.target

[Service]
EnvironmentFile=-/etc/default/grakn
{% if systemd_execstartpre is defined %}
ExecStartPre={{cluster_home}}/grakn/services/configure.sh
{% endif %}
ExecStart={{cluster_home}}/grakn/bin/grakn-engine.sh start
ExecStop={{cluster_home}}/grakn/bin/grakn-engine.sh start
WorkingDirectory={{cluster_home}}/grakn/
ExecReload=/bin/kill -HUP $MAINPID
User=grakn
Group=grakn
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=forking

[Install]
WantedBy=multi-user.target
Alias=grakn-engine.service
